:root
{
    --blue:#287bff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;
    --primary-color:#7380ec;
    --secundary-color:#111e88;
    --primary-ligth:rgba(132,139,200,0.18)

}
/***************************HOME******************/
.card-project
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.card-project-single
{
    display: flex;
    width:300px;
    height: 120px;
    padding:5px 20px;
    margin:10px 0;
    background-color:#fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 7px 25px rgba(0,0,0,0.08); 
    box-shadow: 0px 7px 25px rgba(0,0,0,0.08);
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}
.card-project-single p
{
    font-size: 3rem;
    color: var(--blue);
}
.card-project-single span
{
    position: relative;
    font-size: 0.9rem;
    top: -20px;
    color: var(--black2);
}
.card-project-single  i 
{
    margin-top: 15px;
    font-size: 3rem;
    color: var(--black2);
}
.card-project-single:hover
{
    color: #fff;
    background-color: #3887D6;
}
.card-project-single:hover p,.card-project-single:hover span,.card-project-single:hover i
{
    color: #fff;
}
/****************************SHOW PROJECT PAGE*************************/
.flex
{
    display: flex;
    justify-content: start;
}

/****************************INDEX FRIENDS PAGE*************************/
.form-inline .form-control {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }
.friends-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.friends-single
{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 20px 0;
}
.friends-single img
{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding:2px 0;
    object-fit: cover;
}
.friends-single h3
{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black2);
    cursor: pointer;
}
.friends-single p
{
    color: var(--black2);
    cursor: pointer;  
}